/* queryNews style */
.wrapperSearch {
  margin-top: 5%;
}

.cardSearch {
  background: white;
  margin-bottom: 2em;
  width: 300px;
  height: 250px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cardSearchTitle {
  margin: 0 0 1em;
  padding: 1em 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: black;
  margin-bottom: 40px;
}

.cardSearchInput {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #efefef;
  /* float: left; */
  /* width: 175px;
  margin: -20px -100px;
  position: relative;
  top: 50%;
  left: 50%; */
  margin-top: -10%;
  width: 40%;
  margin-left: 30%;
  /* margin-right: 30%; */
  border-radius: 12px;
}

.cardSearchButton {
  /* float: left; */
  width: 50px;
  padding: 10px;
  background: #e5e5ea;
  /* color: white; */
  font-size: 17px;
  border: 1px solid hsla(0, 0%, 95%, 0.952);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  /* margin: -20px 100px;
  position: relative;
  top: 50%;
  left: 50%; */
  margin-left: -50px;
  /* margin-right: 30%; */
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Display query News - Base styles */

.card {
  background: white;
  margin-bottom: 2em;
  width: 300px;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  color: black;
  text-decoration: none;
}
.card-targetLink {
  color: black;
  text-decoration: none;
}

.card-targetLink:hover {
  color: black;
  text-decoration: none;
}

.card:hover .card-title {
  color: #e74c3c;
}

.card-content {
  padding: 1em;
}

.card-source {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0625rem;
  margin: 0 0 0.75rem 0;
  padding: 0 0 0.25rem 0;
  border-bottom: 0.125rem solid #ebebeb;
}

.card-title {
  font-size: 2em;
  color: #121212;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.card-description {
  color: #666;
  font-size: 95%;
}

.card-publication {
  color: #666;
  font-weight: bolder;
  font-size: 0.875rem;
  line-height: 1;
  margin: 1.125rem 0 0 0;
  padding: 1.125rem 0 0 0;
  border-top: 0.0625rem solid #ebebeb;
}

.card-Image {
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.buttonTrash {
  float: right;
  top: -10px;
}
/* Flexbox styles */
@media screen and (min-width: 20em) {
  .card {
    margin-bottom: 1.5em;
  }

  .cardSearch {
    margin-bottom: 4em;
  }
  .cardSearchInput {
    width: 80%;
    margin-left: 10%;
  }
} /* mq 40em*/

@media screen and (min-width: 40em) {
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    width: calc(50% - 1em);
  }

  .cardSearch {
    margin-bottom: 4em;
    width: calc(50% - 1em);
  }
} /* mq 40em*/

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }

  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
    /* width: calc(33% - 1em); */
  }
} /* mq 60em*/

.buttonSort {
  width: 20%;
  margin-left: 20%;
  margin-right: 20%;
}
.loadingButton {
  margin-left: 50%;
}
